# Python development requirements.
#
# IMPORTANT: If you add or update a dependency and it is required by the
# `federated-language-jax` package, also add or update the dependency in the
# `pyproject.toml` configuration.
#
# See https://packaging.python.org/en/latest/specifications/version-specifiers/
# for more information.

absl-py~=1.0
cachetools~=5.3
dm-tree~=0.1.8
federated_language~=0.4.0
grpcio~=1.46  # Required TFF source dependency.
jax~=0.4.29
jaxlib~=0.4.29
ml_dtypes>=0.4.0,<0.6
numpy~=2.0
protobuf~=5.29
